.*.swp
*.vimrc
Terraform/.terraform
Terraform/ocp-ssh*
Ansible/inventario
Ansible/ansible.log
Ansible/vault_id
Ansible/group_vars/all/terraform_outputs.var
*.tfstate
*.tfstate.backup
ocp-on-aws-8.pdf
redhat-credentials.ini
